src/main/mule/loyalty-sf.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="loyalty-get-by-contact" doc:id="311a72ae-5bba-4078-9e60-2bb3af2f598a" >
		<http:listener doc:name="Listener" doc:id="89681338-1d12-43bd-9a6f-2c9d557a3ac6" config-ref="HTTP_Listener_config" path="/cases" />
		<salesforce:query-all doc:name="Query all" doc:id="c559a6a8-31c6-4d6b-a8bf-1c41d57e2dbf" config-ref="Salesforce_Config" >
			<salesforce:salesforce-query ><![CDATA[SELECT Amount__c,ContactId, Contact.name, Contact.email, Contact.phone , 
Description, Discount, EndDate, External_ID__c,GrandTotal, Status, Subject, Subtotal, Tax, Work_End__c, 
WorkOrderNumber, Work_Order_Type__c, Work_Start__c, 
WorkTypeId, WorkType.Description, WorkType.DurationType, WorkType.Type__c, WorkType.Name,
WorkType.ProductId, WorkType.Product.Description
FROM WorkOrder
]]></salesforce:salesforce-query>
		</salesforce:query-all>
		<ee:transform doc:name="Transform Message" doc:id="cb8342ea-488b-4213-a0d1-69de49f290a9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="loyalty-get-member-tier" doc:id="22c3e01c-599a-4f12-acd8-827447db16db" >
		<http:listener doc:name="Listener" doc:id="1ad14383-0795-47da-ac40-b55b0638937e" config-ref="HTTP_Listener_config" path="/members/tiers/{id}" />
		<salesforce:query doc:name="Query Tier by Member Id" doc:id="14169f07-f3f5-45ea-af09-5051e797d5c3" config-ref="Salesforce_Config" >
			<salesforce:salesforce-query ><![CDATA[SELECT LoyaltyMemberId, id, Name, External_ID__c, TierMemberIdentifier
From LoyaltyMemberTier 
Where LoyaltyMemberId = ':id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"id" : attributes.uriParams.id
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="d7f647f7-6453-4841-91ad-4febdd0386f3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="loyalty-get-points" doc:id="eb5853b3-e3d0-4e4b-ba79-a4d10aaca7e1" >
		<http:listener doc:name="Listener" doc:id="c89565bf-3300-43ac-abe7-238f89723eb9" config-ref="HTTP_Listener_config" path="/members/points/{id}" />
		<salesforce:query-all doc:name="Query Points by Member Id" doc:id="71dc19cb-ea19-4d9b-88d5-06438740daf9" config-ref="Salesforce_Config" >
			<salesforce:salesforce-query ><![CDATA[SELECT LoyaltyMemberId, sum(PointsBalance) PointsBalance, sum(EscrowPointsBalance) EscrowPointsBalance , sum(ExpirablePoints) ExpirablePoints, 
sum(TotalPointsAccrued) TotalPointsAccrued, sum(TotalPointsExpired) TotalPointsExpired, sum(TotalPointsRedeemed) TotalPointsRedeemed
FROM LoyaltyMemberCurrency
WHERE LoyaltyMemberId = ':id'
group by LoyaltyMemberId
]]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"id" : attributes.uriParams.id
}]]]></salesforce:parameters>
		</salesforce:query-all>
		<ee:transform doc:name="Transform Message" doc:id="e4620546-590d-49a6-9231-8222c8e58dd2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="loyalty-get-programs" doc:id="d29cf482-79d9-4d98-8b95-23cc58c58dce" >
		<http:listener doc:name="Listener" doc:id="27c63114-7a3a-4cc6-aae3-bc3d0102ad68" config-ref="HTTP_Listener_config" path="/programs" />
		<salesforce:query-all doc:name="Query all" doc:id="2a5d3f87-003c-420f-906d-eaed7be47f41" config-ref="Salesforce_Config" >
			<salesforce:salesforce-query ><![CDATA[select id, name from loyaltyprogram]]></salesforce:salesforce-query>
		</salesforce:query-all>
		<ee:transform doc:name="Transform Message" doc:id="96f221b2-b2e5-4df2-b585-27400d2b5f89" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="loyalty-get-all-journaltypes" doc:id="bc6bcf20-d0b8-4afb-b1e5-aae75e71d193" >
		<http:listener doc:name="Listener" doc:id="f28163a0-9aa8-4930-9df7-0b6cce7f1536" config-ref="HTTP_Listener_config" path="/journaltypes" />
		<salesforce:query-all doc:name="Query all" doc:id="e8eb7b62-20d3-44d9-81a4-94775a669558" config-ref="Salesforce_Config" >
			<salesforce:salesforce-query ><![CDATA[select id, name, journaltype.id, journaltype.name, journaltype.description, description from journalsubtype]]></salesforce:salesforce-query>
		</salesforce:query-all>
		<ee:transform doc:name="Transform Message" doc:id="e29f7bfc-3ded-4646-a5e6-442cd2611575" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
// payload = the input JSON array

var grouped = payload groupBy ((item) -> item.JournalType.Id)

---
grouped
    pluck ((items, key) -> {
        JournalType: items[0].JournalType,
        JournalSubTypes: 
            (items 
              // drop the nested JournalType from each child
              map (it) -> it - "JournalType"
            )
            // just in case: remove dups by Id
            distinctBy ((s) -> s.Id)
    })
    // optional: stable ordering by JournalType name
    // orderBy ((o) -> o.JournalType.Name)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="loyalty-get-wo" doc:id="77674573-833e-44f9-aaa3-d884f87890e4" >
		<http:listener doc:name="Listener" doc:id="7996b7c5-afe3-4f18-9dec-476780fbfc19" config-ref="HTTP_Listener_config" path="/wo" />
		<salesforce:query-all doc:name="Query all" doc:id="29d70a1c-bc91-4412-8e88-200d3f606a92" config-ref="Salesforce_Config" >
			<salesforce:salesforce-query ><![CDATA[SELECT Amount__c,ContactId, Contact.name, Contact.email, Contact.phone , 
Description, Discount, EndDate, External_ID__c,GrandTotal, Status, Subject, Subtotal, Tax, Work_End__c, 
WorkOrderNumber, Work_Order_Type__c, Work_Start__c, 
WorkTypeId, WorkType.Description, WorkType.DurationType, WorkType.Type__c, WorkType.Name,
WorkType.ProductId, WorkType.Product.Description
FROM WorkOrder
]]></salesforce:salesforce-query>
		</salesforce:query-all>
		<ee:transform doc:name="Transform Message" doc:id="6a48f965-bd67-4936-84fe-42016e606b2c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="loyalty-get-member-tiers" doc:id="44ce114d-beaf-4438-b3e7-22ef25e9a063" >
		<http:listener doc:name="Listener" doc:id="4eb3d331-06b6-4cb7-9f6c-92c0fa4c78c4" config-ref="HTTP_Listener_config" path="/members/tiers" />
		<salesforce:query-all doc:name="Query all" doc:id="cd1b0065-8e13-4224-b7f3-0481c08e1a7e" config-ref="Salesforce_Config" >
			<salesforce:salesforce-query ><![CDATA[SELECT LoyaltyMemberId, id, Name, External_ID__c, TierMemberIdentifier
From LoyaltyMemberTier 
]]></salesforce:salesforce-query>
		</salesforce:query-all>
		<ee:transform doc:name="Transform Message" doc:id="3d6c8d5d-3835-4f1d-b7f6-c74b7df27ac9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="loyalty-get-member-transactions" doc:id="a0db846f-79f1-427a-9d8c-2298acec8c07" >
		<http:listener doc:name="Listener" doc:id="868d890e-57e7-493b-8756-a335ea61c7c1" config-ref="HTTP_Listener_config" path="/members/transactions/{id}" />
		<salesforce:query-all doc:name="Query Transactions by Member Id" doc:id="0d6c6124-645a-4c58-aa40-4e11f0c69dc6" config-ref="Salesforce_Config" >
			<salesforce:salesforce-query ><![CDATA[SELECT MemberId, LoyaltyProgramId, LoyaltyProgram.Name, JournalTypeId, JournalType.Name, JournalSubTypeId, JournalSubType.Name, JournalReason, JournalDate, EscrowPointsCreditDate, Channel, Comment,
ProductId , Product.Name, ProductCategoryId , ProductCategory.Name, Brand, Points_to_Redeem__c , PaymentMethod , ActivityDate, Status, Reward_Catalog__c, Quantity, QuantityUnitOfMeasureId, Establishment
FROM TransactionJournal 
WHERE MemberId = ':id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"id" : attributes.uriParams.id
}]]]></salesforce:parameters>
		</salesforce:query-all>
		<ee:transform doc:name="Transform Message" doc:id="fc6c8cae-760f-4633-b534-427bbba48ed0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
